[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot/
